.app-container{
  padding: 48px;
  font-family: 'Open Sans', sans-serif;
}

.file-list {
  list-style-type: none;
}

.file-list-item {
  align-items: center;
  display: flex;
  margin: 16px;
}

.file-list-item progress {
  margin-left: 20px;
}